@import url('https://fonts.googleapis.com/css?family=Comfortaa');

* {
  box-sizing: border-box
}

body {
  background: linear-gradient(-90deg, #f8d34d36, #fff0a752);
  font-family: 'Comfortaa', sans-serif;
}

#intro {
  height: 100vh;
}

.intro-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: rgb(106, 154, 77);
  text-align: center;
}

.start-btn-container{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

#start-btn {
  border-radius: 13px;
  height: 36px;
  background: #6bcae6cf;
  border: 2px groove #003e21;
  font-size: 19px;
  font-family: 'Comfortaa', sans-serif;
}

.intro-slides {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  background: white;
  border: 1px solid;
  border-radius: 10px;
  height: 416px;
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  text-align: center;
  justify-content: center;
}

.explanation {
  font-size: 1.5rem;
  margin-top: 63px;
  line-height: 52px;
  padding: 0 59px;
}

/* .piano-one .explanation {
  font-size: 2rem;
} */

.slide-btn {
  height: 32px;
  width: 87px;
  border: 1px groove #00000054;
  border-radius: 10px;
  background: #6bcae6cf;
  display: block;
  font-family: 'Comfortaa', sans-serif;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.71);
}

.slide-buttons {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.intro-headers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.staff-intro-two.slide {
  transition: all 2s;
  height: 177px;
  padding: 0px;
  margin-top: 57px;
}

.intro-headers h1 {
  margin: 0;
}

.intro-headers .explanation {
  margin: 16px 0 -22px;
  color: #004c61;
}

.leaf {
  background: rgb(106, 154, 77);
  height: 80px;
  width: 80px;
  border: 1px solid #1f14088f;
  border-radius: 90px 0px 92px 10px;
  position: absolute;
}

.score-container {
  display: flex;
  justify-content: center;
}

#score-text {
  /* font-family: sans-serif; */
  font-size: 28px;
  font-weight: 100;
}

#staff{
  width: 1000px;
  margin: 80px auto 12px;
}

.staff-line {
  height: 30px;
  margin: -16px 0 0;
  display: flex;
  justify-content: center;
}

.staff-note-name {
  color: rgba(106, 154, 77);
  border-color: black;
  text-align: center;
  line-height: 24px;
  /* font-family: sans-serif; */
  font-weight: 100;
  font-size: 27px;
}

.border.staff-line{
  border-style: solid none;
  border-width: 2px;
  border-color: #376737;
}

.whole-note{
  border-style: solid;
  border-width: 2px 13px;
  border-radius: 100%;
  border-color: #00c4ff;
  width: 45px;
  height: 28px;
  transform: skewX(7deg);
}

.whole-note.sharp{
  margin-left: 35px;
}

.sharp::after {
  content: '#';
  display: block;
  margin-left: -46px;
  margin-top: -29px;
  font-size: 63px;
  font-weight: 900;
  transform: skewY(-15deg);
}
.sharp.staff-note-name::after{
  content: '#';
  display: block;
  margin-left: -80px;
  margin-top: -29px;
  font-size: 63px;
  font-weight: 900;
  color: #00c4ff;;
  /* font-family: serif; */
  transform: skewY(-15deg);
}

.ledger-line .whole-note::before {
  content: '';
  display: block;
  border-bottom: 2px solid;
  width: 52px;
  position: absolute;
  border-color: black;
  margin-left: -16px;
  margin-top: 11px;
  z-index: -1;
}

h2 {
  /* font-family: sans-serif; */
  font-weight: 100;
}

.keyboard-options{
  display: flex;
  justify-content: center;
}

.keyboard-helper-toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 96px;
}

.toggle-case {
  border-radius: 20px;
  border: 1px solid #0000008f;
  box-shadow: 0px 0px 4px 0px inset;
  width: 44px;
  height: 30px;
  transition: all .5s;
}

.tc-active {
  background: green;
  margin-left: -1px;
}

.tc-inactive {
  background: darkred;
}

.tc-active .toggle {
  margin-left: -1px;
  box-shadow: 1px 0px 3px 0px;
}

.tc-inactive .toggle {
  margin-left: 16px;
  box-shadow: -1px 0px 3px 0px;
}

.toggle {
  display: block;
  transition: all .5s;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  background: grey;
  border: 1px solid;
}

#keyboard-section{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
} 

.ko-flex {
  display: flex;
  justify-content: flex-end;
}

.keyboard {
  display: flex;
  justify-content: center;
  height:350px;
  /* font-family: sans-serif; */
}

.keys {
  border-style: none solid solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.comp-key-letter {
  transition: all 2s;
  display: block;
  background: grey;
  border: 3px solid #636363;
  text-align: center;
  width: 23px;
  margin-bottom: 12px;
  font-size: 1rem;
  color: white;
}

.hide {
  display: none;
}

.key-letter {
  font-size: 36px;
  margin-bottom: 10px;
}

.black .key-letter {
  color: white;
  font-size: 18px;
  margin-bottom: 0;
}

.white {
  background: white;
  border-width: 0 1px 4px;
  border-style: none solid solid;
  width: 80px;
  height: 340px;
  z-index: -1;
}

.black {
  background:rgb(48, 48, 48);
  border-width: 0 6px 8px;
  border-style: none solid solid;
  border-color: black rgb(31, 31, 31);
  width: 40px;
  height: 200px;
}

#g3, #a3, #b3, #d4, #e4, #g4, #a4, #b4, #d5, #e5, .black {
  margin: 0 0 0 -20px;
}

.white.is-active{
  margin-top: 1px;
  border-width: 0 2px 1px;
}

.black.is-active{
  border-color: black rgb(24, 24, 24);
  border-width: 0 6px 6px;
}

.key-highlight {
  border-color: red;
  box-shadow: 0px 0px 10px inset red;
}