* {
  box-sizing: border-box
}

body {
  background: darkslategray;
}

h1 {
  color: white;
  text-align: center;
}

.start-btn-container{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

#start-btn {
  border-radius: 13px;
  height: 36px;
  background: #004677;
  border: 2px groove #003e21;
  font-size: 19px;
}

.score-container {
  display: flex;
  justify-content: center;
}

#score-text {
  transition: all 3s;
  font-family: sans-serif;
  font-size: 28px;
  font-weight: 100;
}

.staff{
  width: 1000px;
  margin: 80px auto 12px;
}

.staff-line {
  height: 30px;
  margin: -16px 0 0;
  display: flex;
  justify-content: center;
}

.staff-note-name {
  color: rgba(255, 255, 255, 1);
  border-color: black;
  text-align: center;
  line-height: 24px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 27px;
}

.border.staff-line{
  border-style: solid none;
  border-width: 2px;
}

.whole-note{
  border-style: solid;
  border-width: 2px 13px;
  border-radius: 100%;
  width: 45px;
  height: 28px;
  transform: skewX(7deg);
}

.whole-note.sharp{
  margin-left: 35px;
}

.sharp::after {
  content: '#';
  display: block;
  margin-left: -46px;
  margin-top: -29px;
  font-size: 63px;
  font-weight: 900;
  transform: skewY(-15deg);
}
.sharp.staff-note-name::after{
  content: '#';
  display: block;
  margin-left: -80px;
  margin-top: -29px;
  font-size: 63px;
  font-weight: 900;
  color: black;
  font-family: serif;
  transform: skewY(-15deg);
}

.ledger-line .whole-note::before {
  content: '';
  display: block;
  border-bottom: 2px solid;
  width: 52px;
  position: absolute;
  border-color: black;
  margin-left: -16px;
  margin-top: 11px;
  z-index: -1;
}

h2 {
  font-family: sans-serif;
  font-weight: 100;
}

.keyboard-options{
  display: flex;
  justify-content: center;
}

.keyboard-helper-toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-case {
  border-radius: 20px;
  border: 1px solid #0000008f;
  box-shadow: 0px 0px 4px 0px inset;
  width: 44px;
  height: 30px;
  transition: all 2s;
}

.tc-active {
  background: green;
  margin-left: -1px;
}

.tc-inactive {
  background: darkred;
}

.tc-active .toggle {
  margin-left: -1px;
  box-shadow: 1px 0px 3px 0px;
}

.tc-inactive .toggle {
  margin-left: 16px;
  box-shadow: -1px 0px 3px 0px;
}

.toggle {
  display: block;
  transition: all 2s;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  background: grey;
  border: 1px solid;
}

.keyboard-section{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
} 

.keyboard {
  display: flex;
  justify-content: center;
  height:350px;
  font-family: sans-serif;
}

.keys {
  border-style: none solid solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.comp-key-letter {
  transition: all 2s;
  display: block;
  background: grey;
  border: 3px solid #636363;
  text-align: center;
  width: 23px;
  margin-bottom: 12px;
  font-size: 1rem;
}

.hide {
  font-size: 1px;
  display: none;
}

.key-letter {
  font-size: 36px;
  margin-bottom: 10px;
}

.black .key-letter {
  color: white;
  font-size: 18px;
  margin-bottom: 0;
}

.white {
  background: white;
  border-width: 0 1px 4px;
  border-style: none solid solid;
  width: 80px;
  height: 340px;
  z-index: -1;
}

.black {
  background:rgb(48, 48, 48);
  border-width: 0 6px 8px;
  border-style: none solid solid;
  border-color: black rgb(31, 31, 31);
  width: 40px;
  height: 200px;
}

#d4, #e4, #g4, #a4, #b4, #d5, .black {
  margin: 0 0 0 -20px;
}

.white.is-active{
  margin-top: 1px;
  border-width: 0 2px 1px;
}

.black.is-active{
  border-color: black rgb(24, 24, 24);
  border-width: 0 6px 6px;
}